*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock

node_modules
lib
*.bs.js
.next
/out
/test_dist
.idea
/test
/test_dist
/test_static
.babelrc
next.config.js
webpack.config.js
/pages